<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "test1.obryadinds.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Happy birthday quest</name>

    <description>
        An app made using Scratch, GitHub, and PhoneGap.
    </description>

    <author href="http://scratch.mit.edu/users/ObryadinDS" email="jimmy2000@mail.ru">
        Dmitry
    </author>

</widget>
